@use './_colors' as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}


.cards {
    min-height: 100vh;
    padding: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    
    &__box {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__card {
        padding: 3em;
        box-shadow: 5px 5px 10px #2e2e2e2e;

        &:nth-child(1) {
            background-color: $orangeColor;
            border-radius: 8px 8px 0 0;
        }
        &:nth-child(2) {
            background-color: $darkCyan;
        }
        &:nth-child(3) {
            background-color: $veryDarkCyan;
            border-radius: 0 0 8px 8px;
        }
    }
    &__card-title {
        margin: .8em 0;
        font-family: 'Big Shoulders', sans-serif;
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $lightGray;
    }
    &__card-img {
        width: 50px;
    }
    &__card-text {
        color: $parahraphColor;
        line-height: 20px;
        font-size: 1.3rem;
    }
    &__card-btn {
        display: block;
        min-width: fit-content;
        margin-block-start: 2em;
        padding: .8em 2em;
        border-radius: 30px;
        border: none;
        background-color: $lightGray;
        text-transform: capitalize;
        border: 2px solid transparent;
        cursor: pointer;
        transition: background .3s, border .3s, color .3s, transform .3s;

        &:active {
            transform: scale(.90);
        }
        &:hover {
            background: none;
            color: $lightGray;
            border: 2px solid $lightGray;
        }

        &--orange {
            color: $orangeColor;
        }
        &--darkCyan {
            color: $darkCyan;
        }
        &--veryDarkCyan {
            color: $veryDarkCyan;
        }
    }
}



@media(576px <= width) {
    .cards {

        &__card-title {
            font-size: 3.5rem;
        }
        &__card-img {
            width: 65px;
        }
        &__card-text {
            font-size: 1.5rem;
            line-height: 25px;
        }
    }
}

@media(768px <= width) {
    .cards {

        &__box {
            flex-direction: row;
        }
        &__card {
            padding: 4em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 500px;
            &:nth-child(1) {
                border-radius: 8px 0 0 8px;
            }
            &:nth-child(3) {
                border-radius: 0 8px 8px 0;
            }
        }
        &__card-info {
            margin-block-end: 8em;
        }
        &__card-btn {
            margin: 0;
        }
    }
}


@media(992px <= width) {
    .cards {
        &__card {
            width: 27%;
            height: 600px;
        }
        &__card-title {
            font-size: 4.4rem;
        }
        &__card-img {
            width: 80px;
        }

        &__card-text {
            font-size: 1.7rem;
        }
        &__card-btn {
            font-size: 1.6rem;
        }
    }
}